
  <app-shopping-edit></app-shopping-edit>
  <hr>
  <div class="row col-xs-12">
    <div class="list-group">
      <div *ngFor="let item of indgList;let i = index">
          <a class="list-group-item" style="cursor: pointer" (click)="editItem(i)">
            <h4 class="list-group-item-heading">{{ item.itemName }}</h4>
            <div class="row">
                <p class="list-group-item-text col-md-4">{{ item.itemDescp }}</p>
                <p class="list-group-item-text col-md-4">Rs : {{ item.itemPrice }}</p>
            </div>
          </a>
      </div>
    </div>
  </div>
