<form (ngSubmit)="onAddItem(f)" #f="ngForm">
  <div class="row">
    <div class="form-group col-md-3">
        <label >Item Name</label>
        <input type="text"
              class="form-control" 
              id="iName"
              ngModel
              name="itemName"
              required
        >
    </div>
    <div class="form-group col-md-4">
      <label >Item Description</label>
      <input 
              type="text" 
              class="form-control" 
              id="iDescp"
              ngModel
              name="itemDecp"
              required
      >
    </div>
    <div class="form-group col-md-2">
        <label >Item Price</label>
        <input 
              type="number" 
              class="form-control" 
              id="iPrice"
              ngModel
              name="itemPrice"
              required
              pattern="^[1-9]+[0-9]*"
        >
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editmode? 'Update' : 'Add'}} Item</button>
          <button class="btn btn-danger col-md-offset-1" type="button" (click)="OnDeleteItem()" *ngIf="editmode">Delete Item</button>
          <button class="btn btn-primary col-md-offset-1" type="button" (click)="OnResetItem()">Reset Item Details</button>    
      </div>
    </div>
  </form>
